@using models;
@model List<Presupuesto>
@{
    ViewData["Title"] = "Presupuestos";
}

<h1>@ViewData["Title"]</h1>


<section>
    <article class="m-2 d-flex justify-content-end">
        <a class="btn btn-info " asp-controller="Presupuestos" asp-action="Create">Crear nuevo</a>
    </article>

    <table class="w-100 table table-striped">
        <thead class="text-center p-2 bg-success text-light">
            <th>Código</th>
            <th>Fecha</th>
            <th>Destinatario</th>
            <th>Productos</th>
            <th>Subtotal</th>
            <th>Subtotal c/IVA</th>
            <th>Detalles</th>
        </thead>
        <tbody>
            @foreach (var pres in Model){
                <tr style="border: 1px solid black;">
                    <td class="text-center">@(pres.IdPresupuesto)</td>
                    <td class="text-center">@(pres.FechaCreacion.ToString("dd/MM/yyyy"))</td>
                    <td class="text-left">@(pres.NombreDestinatario)</td>
                    <td class="text-center">@(pres.CantidadProductos())</td>
                    <td class="text-end">$@(pres.MontoPresupuesto())</td>
                    <td class="text-end">$@(pres.MontoPresupuestoConIva())</td>
                    <td class="text-center">
                        <a asp-controller="Presupuestos" asp-action="Details" asp-route-id="@(pres.IdPresupuesto)">Detalles</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</section>